# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
eclipse
log
precompiled
project/project
project/target
target
tmp
test-result
server.pid
*.iml
*.eml
*.log
*.jar
#Eclipse Project
.classpath
.project
.settings/


